{
  "plugins": [
    "stylelint-prettier",
    "stylelint-order",
    "stylelint-plugin-datarobot"
  ],
  "rules": {
    "prettier/prettier": true,
    "color-hex-length": "long",
    "max-nesting-depth": 4,
    "declaration-no-important": true,
    "comment-no-empty": true,
    "declaration-block-no-duplicate-properties":true,
    "declaration-block-no-redundant-longhand-properties":[true, {
      "ignoreShorthands": ["/flex/"]
    }],
    "order/properties-order": [
      [
        {
          "emptyLineBefore": "never",
          "noEmptyLineBetween": true,
          "properties": [
            "content",
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "display",
          ]
        },
        {
          "emptyLineBefore": "never",
          "noEmptyLineBetween": true,
          "properties": [
            "flex",
            "flex-grow",
            "flex-shrink",
            "flex-basis",
            "flex-direction",
            "flex-flow",
            "align-items",
            "align-content",
            "align-self",
            "justify-items",
            "justify-content",
            "justify-self",
          ]
        },
        {
          "emptyLineBefore": "never",
          "noEmptyLineBetween": true,
          "properties": [
            "height",
            "width",
            "min-height",
            "max-height",
            "min-width",
            "max-width"
          ]
        },
        {
          "emptyLineBefore": "never",
          "noEmptyLineBetween": true,
          "properties": [
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left"
          ]
        },
        {
          "emptyLineBefore": "never",
          "noEmptyLineBetween": true,
          "properties": [
            "vertical-align",
            "text-align",
            "font-family",
            "font-size",
            "font-weight",
            "font-style",
            "line-height",
            "text-transform",
            "letter-spacing",
            "word-break",
            "white-space"
          ]
        },
        {
          "emptyLineBefore": "never",
          "noEmptyLineBetween": true,
          "properties": [
            "color",
            "background",
            "background-color",
            "border",
            "border-top",
            "border-right",
            "border-bottom",
            "border-top",
            "border-color",
            "border-radius",
            "border-width",
            "border-style"
          ]
        }
      ],
      {
        "unspecified": "bottom",
      }
    ],
    "dr-custom/no-several-root-selectors": [true, {
      "severity": "error",
      "ignore": [
        "client/less/theme-configs.less",
        "client/less/theme-configs/"
      ]
    }],
    "dr-custom/no-unexpected-variable-definitions": [true, {
      "definitions": [
        "client/less/theme-configs.less",
        "client/less/chart-colors.less",
        "client/less/theme-configs",
        "node_modules/@datarobot/design-system/styles/index.css",
        "node_modules/@datarobot/design-system/styles/themes/light.css"
      ],
      "propertiesToCheck": [
        "background",
        "background-color",
        "color",
        "box-shadow",
        "border",
        "border-color",
        "border-top",
        "border-bottom",
        "border-left",
        "border-right"
      ],
      "whitelistedVariables": [
        "action-failure",
        "action-success",
        "action-warning"
      ],

      "ignore": [
        "client/js/admin/design-system"
      ],
      "severity": "error"
    }],
    "dr-custom/no-unexpected-spacing-definitions": [true, {
      "definitions": [
        "client/less/spacings.json"
      ],
      "propertiesToCheck": [
        "margin",
        "margin-top",
        "margin-bottom",
        "margin-right",
        "margin-left",
        "padding",
        "padding-top",
        "padding-bottom",
        "padding-left",
        "padding-right",
        "top",
        "left",
        "right",
        "bottom"
      ]
    }],
    "dr-custom/only-kebab-case-class-names": [true, {
      "severity": "error"
    }],
    "dr-custom/no-composite-classnames": [true, {
      "severity": "error"
    }]
  }
}
